.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(206, 213, 213);
  border-radius: 1px;
  box-sizing: border-box;
  width: 25%;
  margin-left: 0px;
  margin-top: 200px;
  
}


.main-signup .form {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(206, 213, 213);
  border-radius: 1px;
  box-sizing: border-box;
  width: 25%;
  margin-left: 500px;
  margin-top: 200px;

}


.form h1 {
  background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}

.main-login {
  display:flex;
  justify-items: center;

}

.main-signup {
  display:flex;
  justify-items: center;

}


.loginPic {
  margin-left: 300px;
}

.posts {

  display:grid;
  grid-template-columns: 1fr;
  gap: 20px;

}

.post {

  display: flex;
  flex-direction: column;

  height: 800px;
  width: 400px;
  background-color: purple;
  border: 1px solid rgba(0, 0, 0, 1);

  

  
}

.suggestions {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 1);
  position: fixed;
  width: 1fr;
  height: 100vh;
}

.suggested1 {
  background-color: rgb(255, 149, 20);
  
  
 
}

.mainpage {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 300px;
  width: 100vw;
  height: 100vh;
}

.naVbar {
  
 
  height:auto;
}




.suggestions h1 {
  position: fixed;
}

.naVItems {
  position:fixed;
  border: 1px solid rgba(0, 0, 0, 1);
  height: 100vh;
}

.naVItems div {
  padding-top: 40px;
}
.naVItems h1 {
  background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 100px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}